<!DOCTYPE html>
<html>
    <head>
        <title>Taco Taco!</title>
        <meta charset="utf-8">
        <meta viewport="viewport" content="width=device-width, initial-scale=1.0">
        <base href="/">
        <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/public/css/style.css" rel="stylesheet" />
        <script type="application/javascript" src="/public/js/jquery-3.6.1.min.js"></script>
        <script type="application/javascript" src="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid-md">
            <div class="col d-flex align-items-center">
                <div class="row">
                    <div class="col-sm-3 d-none d-lg-block">
                    </div>
                    <div class="col-sm-12 col md-9 col-lg-6">
                        <div class="main-window">
                            <div class="navigation">
                                <div class="navigator">
                                    <span class="icon red"></span>
                                </div>
                                <div class="navigator">
                                    <span class="icon yellow"></span>
                                </div>
                                <div class="navigator">
                                    <span class="icon green"></span>
                                </div>
                            </div>
                            <div class="window-content">
                                <section>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h1>TacoTaco API serving TacoFancy!</h1>
                                        </div>
                                    </div>
                                    <div class="tbl-header">
                                        <table cellpadding="0" cellspacing="0" border="0">
                                            <thead>
                                                <tr>
                                                    <div class="col-xs-12 col-sm-9 col-md-6">
                                                        <th>Category</th>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-3 col-md-6">
                                                        <th>Entries</th>
                                                    </div>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                    <div class="tbl-content">
                                        <table cellpaddin="0" cellspacing="0" border="0">
                                            <tbody>
                                                <% Object.keys(count).forEach((key) => { %>
                                                    <tr>
                                                        <div class="col-sm-9 col-md-6">
                                                            <td><%= key %></td>
                                                        </div>
                                                        <div class="col-sm-3 col-md-6">
                                                            <td><%= count[key] %></td>
                                                        </div>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                </section>
                            </div>
                            <div class="made-with-love">
                                Made with <i>♥ </i> by <a href="https://danielmattox.com">Daniel Mattox</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>